<%= turbo_stream_from @chat %>

<div class="fixed bottom-3 right-14 bg-white text-blue-500 flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen">
    <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200">
      <div class="relative flex items-center space-x-4">
          <div class="flex flex-col leading-tight">
            <span class="text-lg text-gray-600">Support chat for</span>
            <div class="text-2xl mt-1 flex items-center">
                <span class="text-gray-700 mr-3"><%= @chat.user_name.titleize %></span>
            </div>

          </div>
      </div>
      <div class="flex items-center space-x-2">
          <button type="button" class="inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
          <%= heroicon "x-mark" %>
          </button>
      </div>
    </div>

    <div id="messages" class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">

      <% @chat.messages.each do |message| %>
        <%= render partial: 'chat_message', locals: { message: message } %>
      <% end %>

    </div>
    <%= render partial: 'message_form', locals: { chat: @chat } %>
</div>

<style>
  /* format MY messages differently overriding the default left side and gray */
  div[data-message-sender='<%= chatter_uuid %>'] > div.if-mine-justify-end {
    justify-content: end;
  }

  div[data-message-sender='<%= chatter_uuid %>'] div.if-mine-inner {
    align-items: flex-end;
    order: 1;
  }

  div[data-message-sender='<%= chatter_uuid %>'] div.if-mine-inner span {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--color-blue-600);
    color: var(--color-white);
  }

  div[data-message-sender='<%= chatter_uuid %>'] svg {
    color: var(--color-blue-600);
    order: 1;
  }
</style>
