

<div class="message-conditional-hide" data-message-sender="<%= message.user_id %>" data-message-id="<%= message.id %>">
  <div class="flex items-end if-mine-justify-end">
    <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start if-mine-inner">
      <div><span class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">
        <%= message.text %>
      </span></div>
    </div>
    <%= heroicon 'user-circle', variant: :mini  , options: { class:'h-6 w-6 order-1 text-gray-400' } %>
  </div>

  <style>
    <% # conditionally hide all but the first with the same message ID %>
    div.message-conditional-hide[data-message-id="<%= message.id %>"] ~ .message-conditional-hide[data-message-id="<%= message.id %>"] {
      display: none;
    }
  </style>
</div>
